## Extract Race from all Years

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

import warnings
warnings.filterwarnings('ignore')

---

## 2009

In [16]:
# 2009

race_09 = pd.read_excel('../2009/Table 1/Table1_v2_2009.xls', sheet_name=1)
race_09

,Bias,Incidents,Offenses,Victims1,Known offenders2
0,Anti-White,545,652,668,753
1,Anti-Black,2284,2724,2902,2160
2,Anti-American Indian/Alaskan Native,65,84,87,88
3,Anti-Asian/Pacific Islander,126,147,149,108
4,"Anti-Multiple Races, Group",179,209,251,132
5,Total,3199,3816,4057,3241
6,Single-Bias Incidents,6598,7775,8322,6219

In [17]:
race_09.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_09.columns

Index(['bias', 'incidents', 'offenses', 'victims', 'offenders'], dtype='object')

### Victims

In [19]:
victims_09 = race_09[['bias', 'victims']]
victims_09

                                  bias  victims
0                           Anti-White      668
1                           Anti-Black     2902
2  Anti-American Indian/Alaskan Native       87
3          Anti-Asian/Pacific Islander      149
4           Anti-Multiple Races, Group      251
5                                Total     4057
6                Single-Bias Incidents     8322

In [22]:
victims_09['year'] = 2009
victims_09

                                  bias  victims  year
0                           Anti-White      668  2009
1                           Anti-Black     2902  2009
2  Anti-American Indian/Alaskan Native       87  2009
3          Anti-Asian/Pacific Islander      149  2009
4           Anti-Multiple Races, Group      251  2009
5                                Total     4057  2009
6                Single-Bias Incidents     8322  2009

In [24]:
victims_09_v2 = pd.pivot_table(victims_09,
                               index=['year'],
                               columns=['bias'])

victims_09_v2

                                 victims                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2009                                  87                         149

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2009       2902                        251        668                  8322


bias Total
year
2009  4057

### Incidents

In [25]:
incidents_09 = race_09[['bias', 'incidents']]
incidents_09['year'] = 2009

incidents_09

                                  bias  incidents  year
0                           Anti-White        545  2009
1                           Anti-Black       2284  2009
2  Anti-American Indian/Alaskan Native         65  2009
3          Anti-Asian/Pacific Islander        126  2009
4           Anti-Multiple Races, Group        179  2009
5                                Total       3199  2009
6                Single-Bias Incidents       6598  2009

In [27]:
incidents_09_v2 = pd.pivot_table(incidents_09,
                               index=['year'],
                               columns=['bias'])

incidents_09_v2

                               incidents                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2009                                  65                         126

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2009       2284                        179        545                  6598


bias Total
year
2009  3199

### Offenses

In [28]:
offenses_09 = race_09[['bias', 'offenses']]
offenses_09['year'] = 2009

offenses_09

                                  bias  offenses  year
0                           Anti-White       652  2009
1                           Anti-Black      2724  2009
2  Anti-American Indian/Alaskan Native        84  2009
3          Anti-Asian/Pacific Islander       147  2009
4           Anti-Multiple Races, Group       209  2009
5                                Total      3816  2009
6                Single-Bias Incidents      7775  2009

In [29]:
offenses_09_v2 = pd.pivot_table(offenses_09,
                               index=['year'],
                               columns=['bias'])

offenses_09_v2

                                offenses                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2009                                  84                         147

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2009       2724                        209        652                  7775


bias Total
year
2009  3816

### Offenders

In [30]:
offenders_09 = race_09[['bias', 'offenders']]
offenders_09['year'] = 2009

offenders_09

                                  bias  offenders  year
0                           Anti-White        753  2009
1                           Anti-Black       2160  2009
2  Anti-American Indian/Alaskan Native         88  2009
3          Anti-Asian/Pacific Islander        108  2009
4           Anti-Multiple Races, Group        132  2009
5                                Total       3241  2009
6                Single-Bias Incidents       6219  2009

In [31]:
offenders_09_v2 = pd.pivot_table(offenders_09,
                               index=['year'],
                               columns=['bias'])

offenders_09_v2

                               offenders                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2009                                  88                         108

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2009       2160                        132        753                  6219


bias Total
year
2009  3241

---

## 2010

In [32]:
# 2010

race_10 = pd.read_excel('../2010/Table 1/Table1_v2_2010.xls', sheet_name=1)
race_10

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,575,679,697,649
1,Anti-Black,2201,2600,2765,1974
2,Anti-American Indian/Alaskan Native,44,45,47,43
3,Anti-Asian/Pacific Islander,150,190,203,156
4,"Anti-Multiple Races, Group",165,211,237,112
5,Total,3135,3725,3949,2934
6,Single-Bias Incidents,6624,7690,8199,6001

In [36]:
race_10.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_10

,bias,incidents,offenses,victims,offenders
0,Anti-White,575,679,697,649
1,Anti-Black,2201,2600,2765,1974
2,Anti-American Indian/Alaskan Native,44,45,47,43
3,Anti-Asian/Pacific Islander,150,190,203,156
4,"Anti-Multiple Races, Group",165,211,237,112
5,Total,3135,3725,3949,2934
6,Single-Bias Incidents,6624,7690,8199,6001

### Victims

In [35]:
victims_10 = race_10[['bias', 'victims']]
victims_10['year'] = 2010

victims_10

                                  bias  victims  year
0                           Anti-White      697  2010
1                           Anti-Black     2765  2010
2  Anti-American Indian/Alaskan Native       47  2010
3          Anti-Asian/Pacific Islander      203  2010
4           Anti-Multiple Races, Group      237  2010
5                                Total     3949  2010
6                Single-Bias Incidents     8199  2010

In [37]:
victims_10_v2 = pd.pivot_table(victims_10,
                               index=['year'],
                               columns=['bias'])

victims_10_v2

                                 victims                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2010                                  47                         203

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2010       2765                        237        697                  8199


bias Total
year
2010  3949

### Incidents

In [39]:
incidents_10 = race_10[['bias', 'incidents']]
incidents_10['year'] = 2010

incidents_10

                                  bias  incidents  year
0                           Anti-White        575  2010
1                           Anti-Black       2201  2010
2  Anti-American Indian/Alaskan Native         44  2010
3          Anti-Asian/Pacific Islander        150  2010
4           Anti-Multiple Races, Group        165  2010
5                                Total       3135  2010
6                Single-Bias Incidents       6624  2010

In [40]:
incidents_10_v2 = pd.pivot_table(incidents_10,
                               index=['year'],
                               columns=['bias'])

incidents_10_v2

                               incidents                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2010                                  44                         150

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2010       2201                        165        575                  6624


bias Total
year
2010  3135

### Offenses

In [41]:
offenses_10 = race_10[['bias', 'offenses']]
offenses_10['year'] = 2010

offenses_10

                                  bias  offenses  year
0                           Anti-White       679  2010
1                           Anti-Black      2600  2010
2  Anti-American Indian/Alaskan Native        45  2010
3          Anti-Asian/Pacific Islander       190  2010
4           Anti-Multiple Races, Group       211  2010
5                                Total      3725  2010
6                Single-Bias Incidents      7690  2010

In [42]:
offenses_10_v2 = pd.pivot_table(offenses_10,
                               index=['year'],
                               columns=['bias'])

offenses_10_v2

                                offenses                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2010                                  45                         190

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2010       2600                        211        679                  7690


bias Total
year
2010  3725

### Offenders

In [43]:
offenders_10 = race_10[['bias', 'offenders']]
offenders_10['year'] = 2010

offenders_10

                                  bias  offenders  year
0                           Anti-White        649  2010
1                           Anti-Black       1974  2010
2  Anti-American Indian/Alaskan Native         43  2010
3          Anti-Asian/Pacific Islander        156  2010
4           Anti-Multiple Races, Group        112  2010
5                                Total       2934  2010
6                Single-Bias Incidents       6001  2010

In [44]:
offenders_10_v2 = pd.pivot_table(offenders_10,
                               index=['year'],
                               columns=['bias'])

offenders_10_v2

                               offenders                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2010                                  43                         156

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2010       1974                        112        649                  6001


bias Total
year
2010  2934

---

## 2011

In [45]:
# 2011

race_11 = pd.read_excel('../2011/Table 1/Table1_v2_2011.xls', sheet_name=1)
race_11

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,504,577,593,594
1,Anti-Black,2076,2494,2619,1935
2,Anti-American Indian/Alaskan Native,61,67,70,60
3,Anti-Asian/Pacific Islander,138,165,175,120
4,"Anti-Multiple Races, Group",138,162,188,78
5,Total,2917,3465,3645,2787
6,Single-Bias Incidents,6216,7240,7697,5724

In [46]:
race_11.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_11

,bias,incidents,offenses,victims,offenders
0,Anti-White,504,577,593,594
1,Anti-Black,2076,2494,2619,1935
2,Anti-American Indian/Alaskan Native,61,67,70,60
3,Anti-Asian/Pacific Islander,138,165,175,120
4,"Anti-Multiple Races, Group",138,162,188,78
5,Total,2917,3465,3645,2787
6,Single-Bias Incidents,6216,7240,7697,5724

### Victims

In [47]:
victims_11 = race_11[['bias', 'victims']]
victims_11['year'] = 2011

victims_11

                                  bias  victims  year
0                           Anti-White      593  2011
1                           Anti-Black     2619  2011
2  Anti-American Indian/Alaskan Native       70  2011
3          Anti-Asian/Pacific Islander      175  2011
4           Anti-Multiple Races, Group      188  2011
5                                Total     3645  2011
6                Single-Bias Incidents     7697  2011

In [48]:
victims_11_v2 = pd.pivot_table(victims_11,
                               index=['year'],
                               columns=['bias'])

victims_11_v2

                                 victims                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2011                                  70                         175

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2011       2619                        188        593                  7697


bias Total
year
2011  3645

### Incidents

In [49]:
incidents_11 = race_11[['bias', 'incidents']]
incidents_11['year'] = 2011

incidents_11

                                  bias  incidents  year
0                           Anti-White        504  2011
1                           Anti-Black       2076  2011
2  Anti-American Indian/Alaskan Native         61  2011
3          Anti-Asian/Pacific Islander        138  2011
4           Anti-Multiple Races, Group        138  2011
5                                Total       2917  2011
6                Single-Bias Incidents       6216  2011

In [50]:
incidents_11_v2 = pd.pivot_table(incidents_11,
                               index=['year'],
                               columns=['bias'])

incidents_11_v2

                               incidents                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2011                                  61                         138

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2011       2076                        138        504                  6216


bias Total
year
2011  2917

### Offenses

In [51]:
offenses_11 = race_11[['bias', 'offenses']]
offenses_11['year'] = 2011

offenses_11

                                  bias  offenses  year
0                           Anti-White       577  2011
1                           Anti-Black      2494  2011
2  Anti-American Indian/Alaskan Native        67  2011
3          Anti-Asian/Pacific Islander       165  2011
4           Anti-Multiple Races, Group       162  2011
5                                Total      3465  2011
6                Single-Bias Incidents      7240  2011

In [52]:
offenses_11_v2 = pd.pivot_table(offenses_11,
                               index=['year'],
                               columns=['bias'])

offenses_11_v2

                                offenses                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2011                                  67                         165

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2011       2494                        162        577                  7240


bias Total
year
2011  3465

### Offenders

In [53]:
offenders_11 = race_11[['bias', 'offenders']]
offenders_11['year'] = 2011

offenders_11

                                  bias  offenders  year
0                           Anti-White        594  2011
1                           Anti-Black       1935  2011
2  Anti-American Indian/Alaskan Native         60  2011
3          Anti-Asian/Pacific Islander        120  2011
4           Anti-Multiple Races, Group         78  2011
5                                Total       2787  2011
6                Single-Bias Incidents       5724  2011

In [54]:
offenders_11_v2 = pd.pivot_table(offenders_11,
                               index=['year'],
                               columns=['bias'])

offenders_11_v2

                               offenders                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2011                                  60                         120

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2011       1935                         78        594                  5724


bias Total
year
2011  2787

---

## 2012

In [57]:
# 2012

race_12 = pd.read_excel('../2012/Table 1/Table1_v2_2012.xls', sheet_name=1)
race_12

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,657,739,763,756
1,Anti-Black,1805,2180,2295,1771
2,Anti-American Indian/Alaskan Native,101,109,115,92
3,Anti-Asian/Pacific Islander,121,134,143,119
4,"Anti-Multiple Races, Group",113,135,151,84
5,Total,2797,3297,3467,2822
6,Single-Bias Incidents,5790,6705,7151,5322

In [58]:
race_12.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_12

,bias,incidents,offenses,victims,offenders
0,Anti-White,657,739,763,756
1,Anti-Black,1805,2180,2295,1771
2,Anti-American Indian/Alaskan Native,101,109,115,92
3,Anti-Asian/Pacific Islander,121,134,143,119
4,"Anti-Multiple Races, Group",113,135,151,84
5,Total,2797,3297,3467,2822
6,Single-Bias Incidents,5790,6705,7151,5322

### Victims

In [59]:
victims_12 = race_12[['bias', 'victims']]
victims_12['year'] = 2012

victims_12

                                  bias  victims  year
0                           Anti-White      763  2012
1                           Anti-Black     2295  2012
2  Anti-American Indian/Alaskan Native      115  2012
3          Anti-Asian/Pacific Islander      143  2012
4           Anti-Multiple Races, Group      151  2012
5                                Total     3467  2012
6                Single-Bias Incidents     7151  2012

In [60]:
victims_12_v2 = pd.pivot_table(victims_12,
                               index=['year'],
                               columns=['bias'])

victims_12_v2

                                 victims                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2012                                 115                         143

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2012       2295                        151        763                  7151


bias Total
year
2012  3467

### Incidents

In [61]:
incidents_12 = race_12[['bias', 'incidents']]
incidents_12['year'] = 2012

incidents_12

                                  bias  incidents  year
0                           Anti-White        657  2012
1                           Anti-Black       1805  2012
2  Anti-American Indian/Alaskan Native        101  2012
3          Anti-Asian/Pacific Islander        121  2012
4           Anti-Multiple Races, Group        113  2012
5                                Total       2797  2012
6                Single-Bias Incidents       5790  2012

In [62]:
incidents_12_v2 = pd.pivot_table(incidents_12,
                               index=['year'],
                               columns=['bias'])

incidents_12_v2

                               incidents                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2012                                 101                         121

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2012       1805                        113        657                  5790


bias Total
year
2012  2797

### Offenses

In [63]:
offenses_12 = race_12[['bias', 'offenses']]
offenses_12['year'] = 2012

offenses_12

                                  bias  offenses  year
0                           Anti-White       739  2012
1                           Anti-Black      2180  2012
2  Anti-American Indian/Alaskan Native       109  2012
3          Anti-Asian/Pacific Islander       134  2012
4           Anti-Multiple Races, Group       135  2012
5                                Total      3297  2012
6                Single-Bias Incidents      6705  2012

In [64]:
offenses_12_v2 = pd.pivot_table(offenses_12,
                               index=['year'],
                               columns=['bias'])

offenses_12_v2

                                offenses                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2012                                 109                         134

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2012       2180                        135        739                  6705


bias Total
year
2012  3297

### Offenders

In [65]:
offenders_12 = race_12[['bias', 'offenders']]
offenders_12['year'] = 2012

offenders_12

                                  bias  offenders  year
0                           Anti-White        756  2012
1                           Anti-Black       1771  2012
2  Anti-American Indian/Alaskan Native         92  2012
3          Anti-Asian/Pacific Islander        119  2012
4           Anti-Multiple Races, Group         84  2012
5                                Total       2822  2012
6                Single-Bias Incidents       5322  2012

In [66]:
offenders_12_v2 = pd.pivot_table(offenders_12,
                               index=['year'],
                               columns=['bias'])

offenders_12_v2

                               offenders                              \
bias Anti-American Indian/Alaskan Native Anti-Asian/Pacific Islander
year
2012                                  92                         119

                                                                             \
bias Anti-Black Anti-Multiple Races, Group Anti-White Single-Bias Incidents
year
2012       1771                         84        756                  5322


bias Total
year
2012  2822

---

## 2013

In [67]:
# 2013

race_13 = pd.read_excel('../2013/Table 1/Table1_v2_2013.xls', sheet_name=1)
race_13

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,653,728,754,680
1,Anti-Black or African American,1856,2263,2371,1747
2,Anti-American Indian or Alaska Native,129,146,159,108
3,Anti-Asian,135,158,164,130
4,Anti-Native Hawaiian or Other Pacific Islander,3,3,3,7
5,"Anti-Multiple Races, Group",95,109,112,61
6,Total,2871,3407,3563,2733
7,Single-Bias Incidents,5922,6921,7230,5808

In [68]:
race_13.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_13

,bias,incidents,offenses,victims,offenders
0,Anti-White,653,728,754,680
1,Anti-Black or African American,1856,2263,2371,1747
2,Anti-American Indian or Alaska Native,129,146,159,108
3,Anti-Asian,135,158,164,130
4,Anti-Native Hawaiian or Other Pacific Islander,3,3,3,7
5,"Anti-Multiple Races, Group",95,109,112,61
6,Total,2871,3407,3563,2733
7,Single-Bias Incidents,5922,6921,7230,5808

### Victims

In [69]:
victims_13 = race_13[['bias', 'victims']]
victims_13['year'] = 2013

victims_13

                                             bias  victims  year
0                                      Anti-White      754  2013
1                  Anti-Black or African American     2371  2013
2           Anti-American Indian or Alaska Native      159  2013
3                                      Anti-Asian      164  2013
4  Anti-Native Hawaiian or Other Pacific Islander        3  2013
5                      Anti-Multiple Races, Group      112  2013
6                                           Total     3563  2013
7                           Single-Bias Incidents     7230  2013

In [70]:
victims_13_v2 = pd.pivot_table(victims_13,
                               index=['year'],
                               columns=['bias'])

victims_13_v2

                                   victims             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2013                                   159        164

                                                                \
bias Anti-Black or African American Anti-Multiple Races, Group
year
2013                           2371                        112

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2013                                              3        754


bias Single-Bias Incidents Total
year
2013                  7230  3563

### Incidents

In [71]:
incidents_13 = race_13[['bias', 'incidents']]
incidents_13['year'] = 2013

incidents_13

                                             bias  incidents  year
0                                      Anti-White        653  2013
1                  Anti-Black or African American       1856  2013
2           Anti-American Indian or Alaska Native        129  2013
3                                      Anti-Asian        135  2013
4  Anti-Native Hawaiian or Other Pacific Islander          3  2013
5                      Anti-Multiple Races, Group         95  2013
6                                           Total       2871  2013
7                           Single-Bias Incidents       5922  2013

In [72]:
incidents_13_v2 = pd.pivot_table(incidents_13,
                               index=['year'],
                               columns=['bias'])

incidents_13_v2

                                 incidents             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2013                                   129        135

                                                                \
bias Anti-Black or African American Anti-Multiple Races, Group
year
2013                           1856                         95

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2013                                              3        653


bias Single-Bias Incidents Total
year
2013                  5922  2871

### Offenses

In [73]:
offenses_13 = race_13[['bias', 'offenses']]
offenses_13['year'] = 2013

offenses_13

                                             bias  offenses  year
0                                      Anti-White       728  2013
1                  Anti-Black or African American      2263  2013
2           Anti-American Indian or Alaska Native       146  2013
3                                      Anti-Asian       158  2013
4  Anti-Native Hawaiian or Other Pacific Islander         3  2013
5                      Anti-Multiple Races, Group       109  2013
6                                           Total      3407  2013
7                           Single-Bias Incidents      6921  2013

In [74]:
offenses_13_v2 = pd.pivot_table(offenses_13,
                               index=['year'],
                               columns=['bias'])

offenses_13_v2

                                  offenses             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2013                                   146        158

                                                                \
bias Anti-Black or African American Anti-Multiple Races, Group
year
2013                           2263                        109

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2013                                              3        728


bias Single-Bias Incidents Total
year
2013                  6921  3407

### Offenders

In [75]:
offenders_13 = race_13[['bias', 'offenders']]
offenders_13['year'] = 2013

offenders_13

                                             bias  offenders  year
0                                      Anti-White        680  2013
1                  Anti-Black or African American       1747  2013
2           Anti-American Indian or Alaska Native        108  2013
3                                      Anti-Asian        130  2013
4  Anti-Native Hawaiian or Other Pacific Islander          7  2013
5                      Anti-Multiple Races, Group         61  2013
6                                           Total       2733  2013
7                           Single-Bias Incidents       5808  2013

In [76]:
offenders_13_v2 = pd.pivot_table(offenders_13,
                               index=['year'],
                               columns=['bias'])

offenders_13_v2

                                 offenders             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2013                                   108        130

                                                                \
bias Anti-Black or African American Anti-Multiple Races, Group
year
2013                           1747                         61

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2013                                              7        680


bias Single-Bias Incidents Total
year
2013                  5808  2733

---

## 2014

In [77]:
# 2014

race_14 = pd.read_excel('../2014/Table 1/Table1_v2_2014.xls', sheet_name=1)
race_14

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,593,701,734,635
1,Anti-Black or African American,1621,1955,2022,1442
2,Anti-American Indian or Alaska Native,130,142,148,108
3,Anti-Asian,140,168,201,187
4,Anti-Native Hawaiian or Other Pacific Islander,3,4,4,3
5,Total,2568,3081,3227,2431
6,Single-Bias Incidents,5462,6385,6681,5176

In [78]:
race_14.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_14

,bias,incidents,offenses,victims,offenders
0,Anti-White,593,701,734,635
1,Anti-Black or African American,1621,1955,2022,1442
2,Anti-American Indian or Alaska Native,130,142,148,108
3,Anti-Asian,140,168,201,187
4,Anti-Native Hawaiian or Other Pacific Islander,3,4,4,3
5,Total,2568,3081,3227,2431
6,Single-Bias Incidents,5462,6385,6681,5176

### Victims

In [79]:
victims_14 = race_14[['bias', 'victims']]
victims_14['year'] = 2014

victims_14

                                             bias  victims  year
0                                      Anti-White      734  2014
1                  Anti-Black or African American     2022  2014
2           Anti-American Indian or Alaska Native      148  2014
3                                      Anti-Asian      201  2014
4  Anti-Native Hawaiian or Other Pacific Islander        4  2014
5                                           Total     3227  2014
6                           Single-Bias Incidents     6681  2014

In [80]:
victims_14_v2 = pd.pivot_table(victims_14,
                               index=['year'],
                               columns=['bias'])

victims_14_v2

                                   victims             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2014                                   148        201

                                     \
bias Anti-Black or African American
year
2014                           2022

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2014                                              4        734


bias Single-Bias Incidents Total
year
2014                  6681  3227

### Incidents

In [81]:
incidents_14 = race_14[['bias', 'incidents']]
incidents_14['year'] = 2014

incidents_14

                                             bias  incidents  year
0                                      Anti-White        593  2014
1                  Anti-Black or African American       1621  2014
2           Anti-American Indian or Alaska Native        130  2014
3                                      Anti-Asian        140  2014
4  Anti-Native Hawaiian or Other Pacific Islander          3  2014
5                                           Total       2568  2014
6                           Single-Bias Incidents       5462  2014

In [82]:
incidents_14_v2 = pd.pivot_table(incidents_14,
                               index=['year'],
                               columns=['bias'])

incidents_14_v2

                                 incidents             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2014                                   130        140

                                     \
bias Anti-Black or African American
year
2014                           1621

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2014                                              3        593


bias Single-Bias Incidents Total
year
2014                  5462  2568

### Offenses

In [83]:
offenses_14 = race_14[['bias', 'offenses']]
offenses_14['year'] = 2014

offenses_14

                                             bias  offenses  year
0                                      Anti-White       701  2014
1                  Anti-Black or African American      1955  2014
2           Anti-American Indian or Alaska Native       142  2014
3                                      Anti-Asian       168  2014
4  Anti-Native Hawaiian or Other Pacific Islander         4  2014
5                                           Total      3081  2014
6                           Single-Bias Incidents      6385  2014

In [84]:
offenses_14_v2 = pd.pivot_table(offenses_14,
                               index=['year'],
                               columns=['bias'])

offenses_14_v2

                                  offenses             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2014                                   142        168

                                     \
bias Anti-Black or African American
year
2014                           1955

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2014                                              4        701


bias Single-Bias Incidents Total
year
2014                  6385  3081

### Offenders

In [85]:
offenders_14 = race_14[['bias', 'offenders']]
offenders_14['year'] = 2014

offenders_14

                                             bias  offenders  year
0                                      Anti-White        635  2014
1                  Anti-Black or African American       1442  2014
2           Anti-American Indian or Alaska Native        108  2014
3                                      Anti-Asian        187  2014
4  Anti-Native Hawaiian or Other Pacific Islander          3  2014
5                                           Total       2431  2014
6                           Single-Bias Incidents       5176  2014

In [86]:
offenders_14_v2 = pd.pivot_table(offenders_14,
                               index=['year'],
                               columns=['bias'])

offenders_14_v2

                                 offenders             \
bias Anti-American Indian or Alaska Native Anti-Asian
year
2014                                   108        187

                                     \
bias Anti-Black or African American
year
2014                           1442

                                                                \
bias Anti-Native Hawaiian or Other Pacific Islander Anti-White
year
2014                                              3        635


bias Single-Bias Incidents Total
year
2014                  5176  2431

---

## 2015

In [88]:
# 2015

race_15 = pd.read_excel('../2015/Table 1/Table1_v2_2015.xls', sheet_name=1)
race_15

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,613,734,789,681
1,Anti-Black or African American,1745,2125,2201,1605
2,Anti-American Indian or Alaska Native,131,137,141,113
3,Anti-Asian,111,132,136,108
4,Anti-Native Hawaiian or Other Pacific Islander,4,6,6,3
5,"Anti-Multiple Races, Group",113,138,160,83
6,Anti-Arab,37,47,48,35
7,Anti-Hispanic or Latino,299,379,392,325
8,Anti-Other Race/Ethnicity/Ancestry,257,331,343,243
9,Total,3310,4029,4216,3196
10,Single-Bias Incidents,5818,6837,7121,5475

In [89]:
race_15.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_15

,bias,incidents,offenses,victims,offenders
0,Anti-White,613,734,789,681
1,Anti-Black or African American,1745,2125,2201,1605
2,Anti-American Indian or Alaska Native,131,137,141,113
3,Anti-Asian,111,132,136,108
4,Anti-Native Hawaiian or Other Pacific Islander,4,6,6,3
5,"Anti-Multiple Races, Group",113,138,160,83
6,Anti-Arab,37,47,48,35
7,Anti-Hispanic or Latino,299,379,392,325
8,Anti-Other Race/Ethnicity/Ancestry,257,331,343,243
9,Total,3310,4029,4216,3196
10,Single-Bias Incidents,5818,6837,7121,5475

### Victims

In [90]:
victims_15 = race_15[['bias', 'victims']]
victims_15['year'] = 2015

victims_15

                                              bias  victims  year
0                                       Anti-White      789  2015
1                   Anti-Black or African American     2201  2015
2            Anti-American Indian or Alaska Native      141  2015
3                                       Anti-Asian      136  2015
4   Anti-Native Hawaiian or Other Pacific Islander        6  2015
5                       Anti-Multiple Races, Group      160  2015
6                                        Anti-Arab       48  2015
7                          Anti-Hispanic or Latino      392  2015
8               Anti-Other Race/Ethnicity/Ancestry      343  2015
9                                            Total     4216  2015
10                           Single-Bias Incidents     7121  2015

In [91]:
victims_15_v2 = pd.pivot_table(victims_15,
                               index=['year'],
                               columns=['bias'])

victims_15_v2

                                   victims                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2015                                   141        48        136

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2015                           2201                     392

                                 \
bias Anti-Multiple Races, Group
year
2015                        160

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2015                                              6


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2015                                343        789                  7121  4216

### Incidents

In [92]:
incidents_15 = race_15[['bias', 'incidents']]
incidents_15['year'] = 2015

incidents_15

                                              bias  incidents  year
0                                       Anti-White        613  2015
1                   Anti-Black or African American       1745  2015
2            Anti-American Indian or Alaska Native        131  2015
3                                       Anti-Asian        111  2015
4   Anti-Native Hawaiian or Other Pacific Islander          4  2015
5                       Anti-Multiple Races, Group        113  2015
6                                        Anti-Arab         37  2015
7                          Anti-Hispanic or Latino        299  2015
8               Anti-Other Race/Ethnicity/Ancestry        257  2015
9                                            Total       3310  2015
10                           Single-Bias Incidents       5818  2015

In [93]:
incidents_15_v2 = pd.pivot_table(incidents_15,
                               index=['year'],
                               columns=['bias'])

incidents_15_v2

                                 incidents                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2015                                   131        37        111

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2015                           1745                     299

                                 \
bias Anti-Multiple Races, Group
year
2015                        113

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2015                                              4


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2015                                257        613                  5818  3310

### Offenses

In [94]:
offenses_15 = race_15[['bias', 'offenses']]
offenses_15['year'] = 2015

offenses_15

                                              bias  offenses  year
0                                       Anti-White       734  2015
1                   Anti-Black or African American      2125  2015
2            Anti-American Indian or Alaska Native       137  2015
3                                       Anti-Asian       132  2015
4   Anti-Native Hawaiian or Other Pacific Islander         6  2015
5                       Anti-Multiple Races, Group       138  2015
6                                        Anti-Arab        47  2015
7                          Anti-Hispanic or Latino       379  2015
8               Anti-Other Race/Ethnicity/Ancestry       331  2015
9                                            Total      4029  2015
10                           Single-Bias Incidents      6837  2015

In [95]:
offenses_15_v2 = pd.pivot_table(offenses_15,
                               index=['year'],
                               columns=['bias'])

offenses_15_v2

                                  offenses                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2015                                   137        47        132

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2015                           2125                     379

                                 \
bias Anti-Multiple Races, Group
year
2015                        138

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2015                                              6


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2015                                331        734                  6837  4029

### Offenders

In [96]:
offenders_15 = race_15[['bias', 'offenders']]
offenders_15['year'] = 2015

offenders_15

                                              bias  offenders  year
0                                       Anti-White        681  2015
1                   Anti-Black or African American       1605  2015
2            Anti-American Indian or Alaska Native        113  2015
3                                       Anti-Asian        108  2015
4   Anti-Native Hawaiian or Other Pacific Islander          3  2015
5                       Anti-Multiple Races, Group         83  2015
6                                        Anti-Arab         35  2015
7                          Anti-Hispanic or Latino        325  2015
8               Anti-Other Race/Ethnicity/Ancestry        243  2015
9                                            Total       3196  2015
10                           Single-Bias Incidents       5475  2015

In [97]:
offenders_15_v2 = pd.pivot_table(offenders_15,
                               index=['year'],
                               columns=['bias'])

offenders_15_v2

                                 offenders                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2015                                   113        35        108

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2015                           1605                     325

                                 \
bias Anti-Multiple Races, Group
year
2015                         83

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2015                                              3


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2015                                243        681                  5475  3196

---

## 2016

In [98]:
# 2016

race_16 = pd.read_excel('../2016/Table 1/Table1_v2_2016.xls', sheet_name=1)
race_16

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,720,876,909,831
1,Anti-Black or African American,1739,2122,2220,1588
2,Anti-American Indian or Alaska Native,154,161,169,118
3,Anti-Asian,113,131,137,123
4,Anti-Native Hawaiian or Other Pacific Islander,9,9,9,8
5,"Anti-Multiple Races, Group",136,178,190,104
6,Anti-Arab,51,56,57,60
7,Anti-Hispanic or Latino,344,449,483,380
8,Anti-Other Race/Ethnicity/Ancestry,223,247,252,171
9,Total,3489,4229,4426,3383
10,Single-Bias Incidents,6063,7227,7509,5727

In [99]:
race_16.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_16

,bias,incidents,offenses,victims,offenders
0,Anti-White,720,876,909,831
1,Anti-Black or African American,1739,2122,2220,1588
2,Anti-American Indian or Alaska Native,154,161,169,118
3,Anti-Asian,113,131,137,123
4,Anti-Native Hawaiian or Other Pacific Islander,9,9,9,8
5,"Anti-Multiple Races, Group",136,178,190,104
6,Anti-Arab,51,56,57,60
7,Anti-Hispanic or Latino,344,449,483,380
8,Anti-Other Race/Ethnicity/Ancestry,223,247,252,171
9,Total,3489,4229,4426,3383
10,Single-Bias Incidents,6063,7227,7509,5727

### Victims

In [101]:
victims_16 = race_16[['bias', 'victims']]
victims_16['year'] = 2016

victims_16

                                              bias  victims  year
0                                       Anti-White      909  2016
1                   Anti-Black or African American     2220  2016
2            Anti-American Indian or Alaska Native      169  2016
3                                       Anti-Asian      137  2016
4   Anti-Native Hawaiian or Other Pacific Islander        9  2016
5                       Anti-Multiple Races, Group      190  2016
6                                        Anti-Arab       57  2016
7                          Anti-Hispanic or Latino      483  2016
8               Anti-Other Race/Ethnicity/Ancestry      252  2016
9                                            Total     4426  2016
10                           Single-Bias Incidents     7509  2016

In [102]:
victims_16_v2 = pd.pivot_table(victims_16,
                               index=['year'],
                               columns=['bias'])

victims_16_v2

                                   victims                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2016                                   169        57        137

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2016                           2220                     483

                                 \
bias Anti-Multiple Races, Group
year
2016                        190

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2016                                              9


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2016                                252        909                  7509  4426

### Incidents

In [103]:
incidents_16 = race_16[['bias', 'incidents']]
incidents_16['year'] = 2016

incidents_16

                                              bias  incidents  year
0                                       Anti-White        720  2016
1                   Anti-Black or African American       1739  2016
2            Anti-American Indian or Alaska Native        154  2016
3                                       Anti-Asian        113  2016
4   Anti-Native Hawaiian or Other Pacific Islander          9  2016
5                       Anti-Multiple Races, Group        136  2016
6                                        Anti-Arab         51  2016
7                          Anti-Hispanic or Latino        344  2016
8               Anti-Other Race/Ethnicity/Ancestry        223  2016
9                                            Total       3489  2016
10                           Single-Bias Incidents       6063  2016

In [104]:
incidents_16_v2 = pd.pivot_table(incidents_16,
                               index=['year'],
                               columns=['bias'])

incidents_16_v2

                                 incidents                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2016                                   154        51        113

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2016                           1739                     344

                                 \
bias Anti-Multiple Races, Group
year
2016                        136

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2016                                              9


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2016                                223        720                  6063  3489

### Offenses

In [105]:
offenses_16 = race_16[['bias', 'offenses']]
offenses_16['year'] = 2016

offenses_16

                                              bias  offenses  year
0                                       Anti-White       876  2016
1                   Anti-Black or African American      2122  2016
2            Anti-American Indian or Alaska Native       161  2016
3                                       Anti-Asian       131  2016
4   Anti-Native Hawaiian or Other Pacific Islander         9  2016
5                       Anti-Multiple Races, Group       178  2016
6                                        Anti-Arab        56  2016
7                          Anti-Hispanic or Latino       449  2016
8               Anti-Other Race/Ethnicity/Ancestry       247  2016
9                                            Total      4229  2016
10                           Single-Bias Incidents      7227  2016

In [106]:
offenses_16_v2 = pd.pivot_table(offenses_16,
                               index=['year'],
                               columns=['bias'])

offenses_16_v2

                                  offenses                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2016                                   161        56        131

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2016                           2122                     449

                                 \
bias Anti-Multiple Races, Group
year
2016                        178

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2016                                              9


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2016                                247        876                  7227  4229

### Offenders

In [107]:
offenders_16 = race_16[['bias', 'offenders']]
offenders_16['year'] = 2016

offenders_16

                                              bias  offenders  year
0                                       Anti-White        831  2016
1                   Anti-Black or African American       1588  2016
2            Anti-American Indian or Alaska Native        118  2016
3                                       Anti-Asian        123  2016
4   Anti-Native Hawaiian or Other Pacific Islander          8  2016
5                       Anti-Multiple Races, Group        104  2016
6                                        Anti-Arab         60  2016
7                          Anti-Hispanic or Latino        380  2016
8               Anti-Other Race/Ethnicity/Ancestry        171  2016
9                                            Total       3383  2016
10                           Single-Bias Incidents       5727  2016

In [108]:
offenders_16_v2 = pd.pivot_table(offenders_16,
                               index=['year'],
                               columns=['bias'])

offenders_16_v2

                                 offenders                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2016                                   118        60        123

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2016                           1588                     380

                                 \
bias Anti-Multiple Races, Group
year
2016                        104

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2016                                              8


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2016                                171        831                  5727  3383

---

## 2017

In [109]:
# 2017

race_17 = pd.read_excel('../2017/Table 1/Table1_v2_2017.xls', sheet_name=1)
race_17

,Bias,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,741,844,864,758
1,Anti-Black or African American,2013,2358,2458,1742
2,Anti-American Indian or Alaska Native,251,281,321,228
3,Anti-Asian,131,152,165,108
4,Anti-Native Hawaiian or Other Pacific Islander,16,17,18,10
5,"Anti-Multiple Races, Group",180,215,229,100
6,Anti-Arab,102,128,131,100
7,Anti-Hispanic or Latino,427,525,552,491
8,Anti-Other Race/Ethnicity/Ancestry,270,312,322,210
9,Total,4131,4832,5060,3747
10,Single-Bias Incidents,7106,8126,8493,6307

In [110]:
race_17.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_17

,bias,incidents,offenses,victims,offenders
0,Anti-White,741,844,864,758
1,Anti-Black or African American,2013,2358,2458,1742
2,Anti-American Indian or Alaska Native,251,281,321,228
3,Anti-Asian,131,152,165,108
4,Anti-Native Hawaiian or Other Pacific Islander,16,17,18,10
5,"Anti-Multiple Races, Group",180,215,229,100
6,Anti-Arab,102,128,131,100
7,Anti-Hispanic or Latino,427,525,552,491
8,Anti-Other Race/Ethnicity/Ancestry,270,312,322,210
9,Total,4131,4832,5060,3747
10,Single-Bias Incidents,7106,8126,8493,6307

### Victims

In [112]:
victims_17 = race_17[['bias', 'victims']]
victims_17['year'] = 2017

victims_17

                                              bias  victims  year
0                                       Anti-White      864  2017
1                   Anti-Black or African American     2458  2017
2            Anti-American Indian or Alaska Native      321  2017
3                                       Anti-Asian      165  2017
4   Anti-Native Hawaiian or Other Pacific Islander       18  2017
5                       Anti-Multiple Races, Group      229  2017
6                                        Anti-Arab      131  2017
7                          Anti-Hispanic or Latino      552  2017
8               Anti-Other Race/Ethnicity/Ancestry      322  2017
9                                            Total     5060  2017
10                           Single-Bias Incidents     8493  2017

In [113]:
victims_17_v2 = pd.pivot_table(victims_17,
                               index=['year'],
                               columns=['bias'])

victims_17_v2

                                   victims                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2017                                   321       131        165

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2017                           2458                     552

                                 \
bias Anti-Multiple Races, Group
year
2017                        229

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2017                                             18


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2017                                322        864                  8493  5060

### Incidents

In [114]:
incidents_17 = race_17[['bias', 'incidents']]
incidents_17['year'] = 2017

incidents_17

                                              bias  incidents  year
0                                       Anti-White        741  2017
1                   Anti-Black or African American       2013  2017
2            Anti-American Indian or Alaska Native        251  2017
3                                       Anti-Asian        131  2017
4   Anti-Native Hawaiian or Other Pacific Islander         16  2017
5                       Anti-Multiple Races, Group        180  2017
6                                        Anti-Arab        102  2017
7                          Anti-Hispanic or Latino        427  2017
8               Anti-Other Race/Ethnicity/Ancestry        270  2017
9                                            Total       4131  2017
10                           Single-Bias Incidents       7106  2017

In [115]:
incidents_17_v2 = pd.pivot_table(incidents_17,
                               index=['year'],
                               columns=['bias'])

incidents_17_v2

                                 incidents                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2017                                   251       102        131

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2017                           2013                     427

                                 \
bias Anti-Multiple Races, Group
year
2017                        180

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2017                                             16


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2017                                270        741                  7106  4131

### Offenses

In [116]:
offenses_17 = race_17[['bias', 'offenses']]
offenses_17['year'] = 2017

offenses_17

                                              bias  offenses  year
0                                       Anti-White       844  2017
1                   Anti-Black or African American      2358  2017
2            Anti-American Indian or Alaska Native       281  2017
3                                       Anti-Asian       152  2017
4   Anti-Native Hawaiian or Other Pacific Islander        17  2017
5                       Anti-Multiple Races, Group       215  2017
6                                        Anti-Arab       128  2017
7                          Anti-Hispanic or Latino       525  2017
8               Anti-Other Race/Ethnicity/Ancestry       312  2017
9                                            Total      4832  2017
10                           Single-Bias Incidents      8126  2017

In [117]:
offenses_17_v2 = pd.pivot_table(offenses_17,
                               index=['year'],
                               columns=['bias'])

offenses_17_v2

                                  offenses                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2017                                   281       128        152

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2017                           2358                     525

                                 \
bias Anti-Multiple Races, Group
year
2017                        215

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2017                                             17


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2017                                312        844                  8126  4832

### Offenders

In [118]:
offenders_17 = race_17[['bias', 'offenders']]
offenders_17['year'] = 2017

offenders_17

                                              bias  offenders  year
0                                       Anti-White        758  2017
1                   Anti-Black or African American       1742  2017
2            Anti-American Indian or Alaska Native        228  2017
3                                       Anti-Asian        108  2017
4   Anti-Native Hawaiian or Other Pacific Islander         10  2017
5                       Anti-Multiple Races, Group        100  2017
6                                        Anti-Arab        100  2017
7                          Anti-Hispanic or Latino        491  2017
8               Anti-Other Race/Ethnicity/Ancestry        210  2017
9                                            Total       3747  2017
10                           Single-Bias Incidents       6307  2017

In [119]:
offenders_17_v2 = pd.pivot_table(offenders_17,
                               index=['year'],
                               columns=['bias'])

offenders_17_v2

                                 offenders                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2017                                   228       100        108

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2017                           1742                     491

                                 \
bias Anti-Multiple Races, Group
year
2017                        100

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2017                                             10


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2017                                210        758                  6307  3747

---

## 2018

In [120]:
# 2018

race_18 = pd.read_excel('../2018/Table 1/Table1_v2_2018.xls', sheet_name=1)
race_18

,Unnamed: 0,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,762,1001,1038,754
1,Anti-Black or African American,1943,2325,2426,1707
2,Anti-American Indian or Alaska Native,194,204,209,163
3,Anti-Asian,148,171,177,125
4,Anti-Native Hawaiian or Other Pacific Islander,20,26,26,15
5,"Anti-Multiple Races, Group",137,166,174,91
6,Anti-Arab,82,100,100,80
7,Anti-Hispanic or Latino,485,644,671,495
8,Anti-Other Race/Ethnicity/Ancestry,276,317,334,204
9,Total,4047,4954,5155,3634
10,Single-Bias Incidents,7036,8327,8646,6188

In [121]:
race_18.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_18

,bias,incidents,offenses,victims,offenders
0,Anti-White,762,1001,1038,754
1,Anti-Black or African American,1943,2325,2426,1707
2,Anti-American Indian or Alaska Native,194,204,209,163
3,Anti-Asian,148,171,177,125
4,Anti-Native Hawaiian or Other Pacific Islander,20,26,26,15
5,"Anti-Multiple Races, Group",137,166,174,91
6,Anti-Arab,82,100,100,80
7,Anti-Hispanic or Latino,485,644,671,495
8,Anti-Other Race/Ethnicity/Ancestry,276,317,334,204
9,Total,4047,4954,5155,3634
10,Single-Bias Incidents,7036,8327,8646,6188

### Victims

In [122]:
victims_18 = race_18[['bias', 'victims']]
victims_18['year'] = 2018

victims_18

                                              bias  victims  year
0                                       Anti-White     1038  2018
1                   Anti-Black or African American     2426  2018
2            Anti-American Indian or Alaska Native      209  2018
3                                       Anti-Asian      177  2018
4   Anti-Native Hawaiian or Other Pacific Islander       26  2018
5                       Anti-Multiple Races, Group      174  2018
6                                        Anti-Arab      100  2018
7                          Anti-Hispanic or Latino      671  2018
8               Anti-Other Race/Ethnicity/Ancestry      334  2018
9                                            Total     5155  2018
10                           Single-Bias Incidents     8646  2018

In [123]:
victims_18_v2 = pd.pivot_table(victims_18,
                               index=['year'],
                               columns=['bias'])

victims_18_v2

                                   victims                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2018                                   209       100        177

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2018                           2426                     671

                                 \
bias Anti-Multiple Races, Group
year
2018                        174

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2018                                             26


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2018                                334       1038                  8646  5155

### Incidents

In [124]:
incidents_18 = race_18[['bias', 'incidents']]
incidents_18['year'] = 2018

incidents_18

                                              bias  incidents  year
0                                       Anti-White        762  2018
1                   Anti-Black or African American       1943  2018
2            Anti-American Indian or Alaska Native        194  2018
3                                       Anti-Asian        148  2018
4   Anti-Native Hawaiian or Other Pacific Islander         20  2018
5                       Anti-Multiple Races, Group        137  2018
6                                        Anti-Arab         82  2018
7                          Anti-Hispanic or Latino        485  2018
8               Anti-Other Race/Ethnicity/Ancestry        276  2018
9                                            Total       4047  2018
10                           Single-Bias Incidents       7036  2018

In [125]:
incidents_18_v2 = pd.pivot_table(incidents_18,
                               index=['year'],
                               columns=['bias'])

incidents_18_v2

                                 incidents                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2018                                   194        82        148

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2018                           1943                     485

                                 \
bias Anti-Multiple Races, Group
year
2018                        137

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2018                                             20


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2018                                276        762                  7036  4047

### Offenses

In [126]:
offenses_18 = race_18[['bias', 'offenses']]
offenses_18['year'] = 2018

offenses_18

                                              bias  offenses  year
0                                       Anti-White      1001  2018
1                   Anti-Black or African American      2325  2018
2            Anti-American Indian or Alaska Native       204  2018
3                                       Anti-Asian       171  2018
4   Anti-Native Hawaiian or Other Pacific Islander        26  2018
5                       Anti-Multiple Races, Group       166  2018
6                                        Anti-Arab       100  2018
7                          Anti-Hispanic or Latino       644  2018
8               Anti-Other Race/Ethnicity/Ancestry       317  2018
9                                            Total      4954  2018
10                           Single-Bias Incidents      8327  2018

In [127]:
offenses_18_v2 = pd.pivot_table(offenses_18,
                               index=['year'],
                               columns=['bias'])

offenses_18_v2

                                  offenses                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2018                                   204       100        171

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2018                           2325                     644

                                 \
bias Anti-Multiple Races, Group
year
2018                        166

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2018                                             26


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2018                                317       1001                  8327  4954

### Offenders

In [128]:
offenders_18 = race_18[['bias', 'offenders']]
offenders_18['year'] = 2018

offenders_18

                                              bias  offenders  year
0                                       Anti-White        754  2018
1                   Anti-Black or African American       1707  2018
2            Anti-American Indian or Alaska Native        163  2018
3                                       Anti-Asian        125  2018
4   Anti-Native Hawaiian or Other Pacific Islander         15  2018
5                       Anti-Multiple Races, Group         91  2018
6                                        Anti-Arab         80  2018
7                          Anti-Hispanic or Latino        495  2018
8               Anti-Other Race/Ethnicity/Ancestry        204  2018
9                                            Total       3634  2018
10                           Single-Bias Incidents       6188  2018

In [129]:
offenders_18_v2 = pd.pivot_table(offenders_18,
                               index=['year'],
                               columns=['bias'])

offenders_18_v2

                                 offenders                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2018                                   163        80        125

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2018                           1707                     495

                                 \
bias Anti-Multiple Races, Group
year
2018                         91

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2018                                             15


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single-Bias Incidents Total
year
2018                                204        754                  6188  3634

---

## 2019

In [130]:
# 2019

race_19 = pd.read_excel('../2019/Table 1/Table1_v2_2019.xls', sheet_name=6)
race_19

,Race,Incidents,Offenses,Victims1,Known\noffenders2
0,Anti-White,666,755,775,645
1,Anti-Black or African American,1930,2314,2391,1682
2,Anti-American Indian or Alaska Native,119,126,135,101
3,Anti-Asian,158,205,215,153
4,Anti-Native Hawaiian or Other Pacific Islander,21,25,26,26
5,"Anti-Multiple Races, Group",134,171,173,82
6,Anti-Arab,95,122,126,86
7,Anti-Hispanic or Latino,527,676,693,547
8,Anti-Other Race/Ethnicity/Ancestry,313,390,396,228
9,Total,3963,4784,4930,3550
10,Single Bias Incidents,7103,8302,8552,6268

In [131]:
race_19.columns = ['bias', 'incidents', 'offenses', 'victims', 'offenders']
race_19

,bias,incidents,offenses,victims,offenders
0,Anti-White,666,755,775,645
1,Anti-Black or African American,1930,2314,2391,1682
2,Anti-American Indian or Alaska Native,119,126,135,101
3,Anti-Asian,158,205,215,153
4,Anti-Native Hawaiian or Other Pacific Islander,21,25,26,26
5,"Anti-Multiple Races, Group",134,171,173,82
6,Anti-Arab,95,122,126,86
7,Anti-Hispanic or Latino,527,676,693,547
8,Anti-Other Race/Ethnicity/Ancestry,313,390,396,228
9,Total,3963,4784,4930,3550
10,Single Bias Incidents,7103,8302,8552,6268

### Victims

In [132]:
victims_19 = race_19[['bias', 'victims']]
victims_19['year'] = 2019

victims_19

                                              bias  victims  year
0                                       Anti-White      775  2019
1                   Anti-Black or African American     2391  2019
2            Anti-American Indian or Alaska Native      135  2019
3                                       Anti-Asian      215  2019
4   Anti-Native Hawaiian or Other Pacific Islander       26  2019
5                       Anti-Multiple Races, Group      173  2019
6                                        Anti-Arab      126  2019
7                          Anti-Hispanic or Latino      693  2019
8               Anti-Other Race/Ethnicity/Ancestry      396  2019
9                                            Total     4930  2019
10                           Single Bias Incidents     8552  2019

In [133]:
victims_19_v2 = pd.pivot_table(victims_19,
                               index=['year'],
                               columns=['bias'])

victims_19_v2

                                   victims                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2019                                   135       126        215

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2019                           2391                     693

                                 \
bias Anti-Multiple Races, Group
year
2019                        173

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2019                                             26


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single Bias Incidents Total
year
2019                                396        775                  8552  4930

### Incidents

In [134]:
incidents_19 = race_19[['bias', 'incidents']]
incidents_19['year'] = 2019

incidents_19

                                              bias  incidents  year
0                                       Anti-White        666  2019
1                   Anti-Black or African American       1930  2019
2            Anti-American Indian or Alaska Native        119  2019
3                                       Anti-Asian        158  2019
4   Anti-Native Hawaiian or Other Pacific Islander         21  2019
5                       Anti-Multiple Races, Group        134  2019
6                                        Anti-Arab         95  2019
7                          Anti-Hispanic or Latino        527  2019
8               Anti-Other Race/Ethnicity/Ancestry        313  2019
9                                            Total       3963  2019
10                           Single Bias Incidents       7103  2019

In [135]:
incidents_19_v2 = pd.pivot_table(incidents_19,
                               index=['year'],
                               columns=['bias'])

incidents_19_v2

                                 incidents                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2019                                   119        95        158

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2019                           1930                     527

                                 \
bias Anti-Multiple Races, Group
year
2019                        134

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2019                                             21


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single Bias Incidents Total
year
2019                                313        666                  7103  3963

### Offenses

In [136]:
offenses_19 = race_19[['bias', 'offenses']]
offenses_19['year'] = 2019

offenses_19

                                              bias  offenses  year
0                                       Anti-White       755  2019
1                   Anti-Black or African American      2314  2019
2            Anti-American Indian or Alaska Native       126  2019
3                                       Anti-Asian       205  2019
4   Anti-Native Hawaiian or Other Pacific Islander        25  2019
5                       Anti-Multiple Races, Group       171  2019
6                                        Anti-Arab       122  2019
7                          Anti-Hispanic or Latino       676  2019
8               Anti-Other Race/Ethnicity/Ancestry       390  2019
9                                            Total      4784  2019
10                           Single Bias Incidents      8302  2019

In [137]:
offenses_19_v2 = pd.pivot_table(offenses_19,
                               index=['year'],
                               columns=['bias'])

offenses_19_v2

                                  offenses                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2019                                   126       122        205

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2019                           2314                     676

                                 \
bias Anti-Multiple Races, Group
year
2019                        171

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2019                                             25


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single Bias Incidents Total
year
2019                                390        755                  8302  4784

### Offenders

In [138]:
offenders_19 = race_19[['bias', 'offenders']]
offenders_19['year'] = 2019

offenders_19

                                              bias  offenders  year
0                                       Anti-White        645  2019
1                   Anti-Black or African American       1682  2019
2            Anti-American Indian or Alaska Native        101  2019
3                                       Anti-Asian        153  2019
4   Anti-Native Hawaiian or Other Pacific Islander         26  2019
5                       Anti-Multiple Races, Group         82  2019
6                                        Anti-Arab         86  2019
7                          Anti-Hispanic or Latino        547  2019
8               Anti-Other Race/Ethnicity/Ancestry        228  2019
9                                            Total       3550  2019
10                           Single Bias Incidents       6268  2019

In [139]:
offenders_19_v2 = pd.pivot_table(offenders_19,
                               index=['year'],
                               columns=['bias'])

offenders_19_v2

                                 offenders                       \
bias Anti-American Indian or Alaska Native Anti-Arab Anti-Asian
year
2019                                   101        86        153

                                                             \
bias Anti-Black or African American Anti-Hispanic or Latino
year
2019                           1682                     547

                                 \
bias Anti-Multiple Races, Group
year
2019                         82

                                                     \
bias Anti-Native Hawaiian or Other Pacific Islander
year
2019                                             26


bias Anti-Other Race/Ethnicity/Ancestry Anti-White Single Bias Incidents Total
year
2019                                228        645                  6268  3550

---

## Aggregate all the Victims tables